@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Unbounded";
    src: url(./lib/assets/fonts/Unbounded-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Satoshi";
    src: url(./lib/assets/fonts/Satoshi-Regular.ttf) format("truetype");
}

.heading-font {
    font-family: "Unbounded";
}

.primary-font {
    font-family: "Satoshi";
}

.noise-gradient {
    background-image: linear-gradient(
            175deg,
            hsl(186deg 100% 23%) 0%,
            hsl(188deg 100% 61%) 12%,
            hsl(185deg 81% 86%) 88%,
            hsl(180deg 43% 99%) 100%
    );
    /*-ms-filter: contrast(180%) brightness(1500%);*/
    /*filter: contrast(180%) brightness(1500%);*/
    background-size: 300% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.gradient-text {
    background-image: linear-gradient(
            144deg,
            hsl(267deg 100% 7%) 1%,
            hsl(240deg 21% 21%) 33%,
            hsl(215deg 14% 33%) 42%,
            hsl(189deg 11% 46%) 46%,
            hsl(167deg 17% 61%) 49%,
            hsl(156deg 42% 77%) 50%,
            hsl(157deg 44% 81%) 51%,
            hsl(159deg 48% 85%) 51%,
            hsl(162deg 54% 88%) 51%,
            hsl(167deg 65% 92%) 50%,
            hsl(174deg 100% 96%) 50%,
            hsl(223deg 58% 87%) 50%,
            hsl(236deg 53% 78%) 49%,
            hsl(240deg 51% 69%) 49%,
            hsl(239deg 51% 59%) 49%,
            hsl(231deg 62% 46%) 50%,
            hsl(233deg 57% 38%) 51%,
            hsl(235deg 53% 29%) 54%,
            hsl(236deg 48% 21%) 58%,
            hsl(238deg 41% 13%) 67%,
            hsl(236deg 70% 4%) 99%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 7s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}