@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url(./lib/assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "MeowScript";
    src: url(./lib/assets/fonts/MeowScript-Regular.ttf) format("truetype");
}

.primary-font {
    font-family: 'Recursive', monospace;
}

.brand-font {
    font-family: "MeowScript";
}

.regular-font {
    font-family: "Poppins";
}

@layer utilities {
    .ieee-mesh-gradient {
        background: hsla(213, 62%, 45%, 1);
        background: linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2C6CBC", endColorstr="#71C3F7", GradientType=1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
}

.ieee-gradient {
    background-image: linear-gradient(45deg,
    hsl(213deg 20% 89%) 0%,
    hsl(210deg 34% 88%) 40%,
    hsl(208deg 46% 88%) 54%,
    hsl(207deg 57% 87%) 62%,
    hsl(207deg 67% 86%) 68%,
    hsl(206deg 75% 85%) 73%,
    hsl(206deg 83% 84%) 76%,
    hsl(205deg 89% 83%) 80%,
    hsl(205deg 95% 81%) 85%,
    hsl(204deg 100% 80%) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.content {
    background-size: 50px 50px;
    background-image: linear-gradient(to right, #1e1e1e 1px, transparent 1px),
    linear-gradient(to bottom, #1e1e1e 1px, transparent 1px);
}